<% if @friendship.errors.any? %>

<% else %>
  $("<%= "#no_#{@friendship.sender.id}" %>").html('<%= link_to ask_for_code_user_path(@friendship.sender), method: :post, remote: true, class: "btn btn-ask" do %>Add<span class="hidden-xs"> as friend</span><% end %>');
  $("<%= "#yes_#{@friendship.sender.id}" %>").remove();
<% end %>