/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

.panel-default {
  border-radius: 9px;
  border: 1px solid black;
}

.digicode {
  font-size: 100px;
  font-weight: bold;
}

.name {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  // margin-top: 7px;
  @media (max-width: 400px) {
    // max-width: 120px;
    padding-left: 0;
    font-size: 18px;
    // margin-top: 11px;
  }
}

@media (max-width: 400px) {
  .list-inline>li {
    padding-left: 0;
  }
}

.sent {
  margin-top: 9px;
}

.scroll-x {
  overflow-x: scroll;
}